@import "tailwindcss";


.reveal {
  display: inline-block;          /* or block */
  width: 100%;                    /* important: gives it a real target size */
  clip-path: inset(0 100% 0 0);   /* hide everything (right side clipped) */
  animation: reveal 3s ease-out forwards;
}

@keyframes reveal {
  to { clip-path: inset(0 0 0 0); }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

